*.*~
*.DS_Store
*.classpath
*.config
*.crc
*.idea
*.iml
*.ipr
*.iws
*.out
*.project
*.pyc
*.settings
*.swp
*mainGenerated*
.DS_Store
.gradle/
.pydevproject
build/
src/main/configuration/test/
src/main/configuration/prod/
